<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">    
    <title>Home Page</title>
    <style>
        #markdown-editor {
            resize: vertical;
            overflow-y: auto;
            max-height: 500px;
        }
    </style>
</head>
<body style="background-color: #f8f9fa;">
    <%- include('./partials/nav') %>
    <h1 class="mb-4 text-center classic mt-4">Unleash your Voice</h1><hr class="mx-5">
    <div class="container mt-4">
        <form action="/blog" method="post" enctype="multipart/form-data" id="postForm" class="mt-5">
            
            <div class="my-3">
                <label for="cover" class="form-label">Cover Image</label>
                <input type="file" class="form-control" id="cover" name="coverImage">
            </div>

            <div class="my-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title" required>
            </div>

            <div class="my-3">
                <label for="category" class="form-label">Category</label>
                <select class="form-select" name="category" id="category">
                    <option value="general">General</option>
                    <option value="lifestyle">Lifestyle</option>
                    <option value="food">Food</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="markdown-editor" class="form-label">Body</label>
                <textarea class="form-control" name="body" id="markdown-editor" rows="10" style="overflow-y: auto;" 
                placeholder="Write your post..."></textarea>
            </div>

            <div class="d-grid">
                <button type="submit" class="btn btn-classic-filled btn-classic w-50 m-auto mt-1">Add Blog</button>
            </div>
        </form>
    </div>



    <%- include('./partials/script') %>
    <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>

    <script>
        // Initialize the markdown editor
        const easyMDE = new EasyMDE({ element: document.getElementById("markdown-editor") });
    </script>
</body>
</html>