<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Signup</title>
</head>
<body style="background-color: #f8f9fa;">
    <%- include('./partials/nav') %>
    <h1 class="mb-4 text-center classic mt-4">Start Sharing Your Story</h1><hr class="mx-5"> 
    <div class="container mt-4">
        <form action="/user/signup" method="POST" class="mx-5 mt-5" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="name" class="form-label">Full Name</label>
              <input type="text" class="form-control" id="name" name="name" required/>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input type="email" class="form-control" id="email" name="email" required/>
            </div>
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input type="text" class="form-control" id="username" name="username" required/>
            </div>
            <div class="mb-3">
              <label for="bio" class="form-label">Short Bio</label>
              <textarea class="form-control" id="bio" name="bio" rows="3" placeholder="Tell us a little about yourself..."></textarea>
            </div>
            <div class="mb-3">
              <label for="profilePhoto" class="form-label">Profile Photo</label>
              <input type="file" class="form-control" id="profilePhoto" name="profilePhoto" accept="image/*"/>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" name="password" required/>
            </div>
            <div class="mb-3">
              <label for="confirmPassword" class="form-label">Confirm Password</label>
              <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required/>
            </div>
            <div class="d-grid">
              <button type="submit" class="btn btn-classic-filled btn-classic w-50 m-auto mt-1">Create Account</button>
            </div>
        </form>
    </div>
    <%- include('./partials/script') %>
</body>
</html>